.hero {
  width: 100%;
  margin: 0 auto;
  background: #eeeeee;
}
/*hero main\*/
.hero-main {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} /*hero-1 setcion*/
.hero-1{
  width: 50%;
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-1 h3 {
  font-size: 45px;
}
.hero-1 p {
  font-size: 15px;
  font-weight: 400;
}
.hero-1 button {
  color: #fff;
  padding: 12px 30px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: bold;
  background: #fe5f41;
}
.hero-1 button:hover {
  box-shadow: 0px 5px 10px #fe5f41;
}

/*hero -2 section*/
.hero-2 {
  width: 50%;
  margin-top: 64px;
  margin-left: 160px;
  margin-bottom: 50px;
}


/*fruits card*/
.main-section{
    width: 100%;
    background: #EEEEEE;   
    height: auto;
    padding-bottom: 40px;
}
.fruits{
    
    width: 82%;
    margin: 0px auto 30px ;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
   
}
.fruits-card{
    margin-top:50px;
    padding: 60px 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff;
    transition: transform 2s ease-in;
}
.fruits-card:hover{
    transform: scale(0.6);
}
.fruits-card img{
    border-radius: 60%;
    margin: -15px 50px 0px;
}

.fruits-card p{
    font-size: 16px;
}
.fruits-card span{
    margin-top: 20px;
}


/*chefs*/
.our-chefs{
    width: 100%;
    padding-bottom: 30px;
    background: #EEEEEE;
}
.our-chefs h1{
    text-align: center;
    padding: 40px 20px;
}
.chef-list{

    width: 82%;
    margin: 20px auto  ;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
   
}
.chefs{
    padding: 45px 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff;
    transition: transform 2s ease-in;
}
.chefs:hover{
    transform: scale(0.6);
}
.chefs img{
    border-radius: 100%;
    margin: -15px 50px 0px;
}

@media screen and (max-width:768px) {
  .hero-main{
    flex-direction: column;
    width: 100%;
  }
  .hero-1{
    width: 82%;
  } 
  .hero-2{
    width: 82%;

  }
  .hero-2 img{
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .fruits{
    grid-template-columns: auto;
  }
  .fruits-card img{
 
    border-radius: 60%;
    margin: 0px auto ;
}
.chef-list{
  grid-template-columns: auto;
}
.chefs img{
  border-radius: 100%;
  margin: 0px auto;
}

}