.hero {
  width: 100%;
  margin: 0 auto;
  background: #eeeeee;
}
/*hero main\*/
.hero-main {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} /*hero-1 setcion*/
.hero-1{
  width: 50%;
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-1 h3 {
  font-size: 45px;
}
.hero-1 p {
  font-size: 15px;
  font-weight: 400;
}
.hero-1 button {
  color: #fff;
  padding: 12px 30px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: bold;
  background: #fe5f41;
}
.hero-1 button:hover {
  box-shadow: 0px 5px 10px #fe5f41;
}

/*hero -2 section*/
.hero-2 {
  width: 50%;
  margin-top: 64px;
  margin-left: 160px;
  margin-bottom: 50px;
}


/*fruits card*/
.main-section{
    width: 100%;
    background: #EEEEEE;   
    height: auto;
    padding-bottom: 30px;
}
.fruits{
    
    width: 82%;
    margin: 0px auto 30px ;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
   
}
.fruits-card{
    margin-top:50px;
    padding: 60px 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff;
}
.fruits-card img{
    border-radius: 60%;
    margin: -15px 50px 0px;
}

.fruits-card p{
    font-size: 16px;
}
.fruits-card span{
    margin-top: 20px;
}

.chef{
    width: 100%;
}