.menu{
    width: 100%;
    background: #EEEEEE;
}
.menu-list{
    width:82%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
}
.list{

  background: #fff;
  padding: 60px ;
  border-radius: 10px;
}
.list img{
    margin-top: -30px;
    border-radius: 50%;
}
.list h2{
    padding: 5px;
}