.main{
    width: 100%;
 
}
.login{
    width: 85%;
    margin:60px auto;
    display: flex;
    justify-content:center;
    align-items: center;
}
/*form*/
.login-form{ 

    display: flex;
    align-items: center;
    
   padding: 20px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 2px;
    padding: 60px 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 5px #fff;
    border: 2px solid #fff;
   
}
.login-form form input{
    width: 300px;
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 30px; 
}
.login-form form input::placeholder{
    font-size: 15px;
}
.login form span{
    font-size: 12px;
    margin-left: 170px;
    margin-top: -10px;
    cursor: pointer;
    color: #898121;


}
.login-form form button{
    margin: 0px auto;
    padding: 14px 49px;
    color: #E8751A;
   border: 1px solid #fff;
    border-radius: 30px;
    background: #fff;
    font-size: 15px;
    font-weight:600;
}
.login-form form button:hover{
    color: #fff;
    font-size: 15px;
    background: linear-gradient(135deg,#E8751A,#FDA403);
    box-shadow: 0px 0px 5px #fff;
}

.login-form span{
    font-size: 15px;
  font-weight: bold;
}